<div class="container">
  <h1>Millennium Falcon Probability Calculator</h1>
  <div class="upload">
    <input type="file" (change)="onFileSelected($event)" accept=".json" />
  </div>
  <div class="calculate">
    <button class="calculate-button" (click)="calculateProbability()">Calculate Probability</button>
  </div>
  <div class="result" *ngIf="probability !== null">
    <p [ngClass]="{ 'success': probability === 100, 'warning': probability < 100 && probability > 0, 'failure': probability === 0 }">
      Probability: {{ probability }}%
    </p>
    <p [ngClass]="{ 'success': probability === 100, 'warning': probability < 100 && probability > 0, 'failure': probability === 0 }">
      {{ getProbabilityMessage(probability) }}
    </p>
  </div>
</div>
